// Place all the styles related to the commends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.commend_text{
	margin-left:20px;
    width: 804px;
	margin-top:15px;
	height:78px;
}